<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Contact Us</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/contact' %>

</head>
<body>

<header id="main_header">
  <div class="container_e">
    <div class="nav_bar_e">
      <div class="log_main">
        <h1>
          <a href="#">
            <img src="/assets/contact/main-logo.svg">
          </a>
        </h1>
      </div>
      <div class="nav_link_list">
        <ul>
          <li>
            <a href="#">Products <img src="/assets/contact/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Developers <img src="/assets/contact/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Company <img src="/assets/contact/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Pricing </a>
          </li>
        </ul>
      </div>
      <div class="nav_login">
        <ul>
          <li>
            <a href="#">
              <span>
                <img src="/assets/contact/user-icon.svg">
              </span>
              Login
            </a>
          </li>
          <li>
            <a class="signupbtn" href="#">Sing Up >
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clear_e"></div>
    </div>
  </div>
</header>

<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact_heading">
          <h3>Contact Us</h3>
          <p>
            We’re happy to answer any questions you may have, just send us a message.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-center">
         <div class="contact-info">
           <div style=" padding:20px; border-style:solid; border-width:1px; border-color:#E3E3E3; border-radius:10px; width:320px; margin: 0 auto;">

          <div class="location">
          <div style="float:left;">
           <img src="/assets/svg/location.svg">
          </div>
          <div style="margin-left:35px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Location</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular; margin-top: -15px;">
           160 Kemp House City Road<br> London EC1V 2NX</p>
          </div>
         </div>

         <div class="contact-sales">
          <div style="float:left;">
           <img src="/assets/svg/contact_sales.svg">
          </div>
          <div style="margin-left:35px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Contact Sales</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular; margin-top: -15px;">
           sales@worldpayments.com</p>
          </div>
         </div>

        <div class="support">
          <div style="float:left;">
           <img src="/assets/svg/support.svg">
          </div>
          <div style="margin-left:35px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Support</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular; margin-top: -15px;">
           support@worldpayments.com</p>
          </div>
         </div>

         </div>
       </div>
      </div>
      <div class="col-md-7">
        <div class="contact_us_form">
          <form>
            <div class="contact_us_fld">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="contact_us_fld">
              <input type="email" name="name" placeholder="Email">
            </div>
            <div class="contact_us_fld">
              <textarea placeholder="Your Message"></textarea>
            </div>
            <button style="margin: 0 auto">
                Send Message
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="google_map">
  <img src="/assets/contact/map-img.png">
</section>

<footer id="footer_sec">
  <div class="container_e">
    <div class="row">
      <div class="col m3">
        <div class="footer_heading">
          <h5>Follow Us</h5>
        </div>
        <div class="social_link_f">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/contact/fb.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/twitter-logo-button.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/linkedin-button.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="add_link">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/contact/location-pointer.svg">
                  United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/translation.svg">
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m3">
        <div class="footer_heading">
          <h5>Company</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Resources</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Partner Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Products</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Online Payments</a>
            </li>
            <li>
              <a href="#">POS System</a>
            </li>
            <li>
              <a href="#">Card Machines</a>
            </li>
            <li>
              <a href="#">Email Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Banking <span>Beta</span></h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Fintech Banking</a>
            </li>
            <li>
              <a href="#">E-Wallets</a>
            </li>
            <li>
              <a href="#">Payment Card Programs</a>
            </li>
            <li>
              <a href="#">Digital</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_line_gray"></div>

    <div class="copy_right_footer">
      <ul>
        <li>World Payments Ltd. 2019. All rights reserved.</li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">
              Contact
          </a>
        </li>

      </ul>
    </div>

  </div>
</footer>

</body>
<script src="assets/materialize.min.js"></script>
</html>
