<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Contact Us</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/contact' %>

<style>
  #main_header {
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    position: relative;
  }
  .log_main{
    h1{
      margin: 0;
      line-height: 83px;
    }
    a{
      text-decoration: none;
    }
    img{

    }
  }


  .nav_link {
    float: left;
    position: relative;
    z-index: 3;
    padding-top: 33px;
    ul{
      margin: 0;
      padding: 0;
      text-align: right;
    }
    li{
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 36px;
    }
    a{
      font-size: 18px;
      text-decoration: none;
      font-family: $font-Poppins;
      color: #585858;
    }
  }


  .nav_login{
    position: relative;
    z-index: 2;
    ul{
      margin: 0;
      padding: 0;
      text-align: right;
      position: relative;
      top: 27px;
    }
    li{
      display: inline;
    }
    a{
      text-decoration: none;
      display: inline-block;
      font-family: $font-Poppins;
      color: #585858;
      font-size: 18px;

    }
    .signupbtn{
      width: 125px;
      height: 42px;
      background-color: #F905F5;
      text-transform: uppercase;
      text-align: center;
      line-height: 40px;
      border-radius: 40px;
      color: #fff;
      font-family: $font-Poppins;
      font-weight: 500;
      margin-left: 15px;
    }
  }


  .clear_e{
    clear: both;
  }


  // dropdown style
  .nav_link li:hover ul {
    display: block;
  }
  .nav_link li ul {
    background-color: #fff;
    padding: 30px 0;
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: -60px;
    display: none;
    width: 270px;
    z-index: 9999;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }
  .nav_link li ul::after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent #fff transparent;
    content: "";
    position: absolute;
    top: -10px;
    left: 120px;
  }
  .nav_link li ul li{
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    line-height: normal;
  }
  .nav_link li ul li:last-child{
    padding-bottom: 0;
  }
  .sub_menu_list {
    display: flex;
  }
  .sub_menu_icon{
    width: 22%;
    float: left;
  }
  .sub_menu_text{
    width: 77%;
    h3{
      color: #185B6D;
      font-family: $font-Poppins;
      font-size: 16px;
      margin-bottom: 0;
    }
    p{
      font-size: 12px;
      font-family: $font-Raleway;
      color: #185B6D;
    }

  }
</style>

</head>
<body>
<%= render 'layouts/navbar_simple' %>
<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact_heading">
          <h3>Contact Us</h3>
          <p>
            We’re happy to answer any questions you may have, just send us a message.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-center">
         <div class="contact-info">
           <div style=" padding:20px; border-style:solid; border-width:1px; border-color:#E3E3E3; border-radius:10px; width:320px; margin: 0 auto;">

          <div class="location">
          <div style="float:left;">
           <img src="/assets/svg/location.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Location</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           160 Kemp House City Road<br> London EC1V 2NX</p>
          </div>
         </div>

         <div class="contact-sales">
          <div style="float:left;">
           <img src="/assets/svg/contact_sales.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Contact Sales</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           sales@worldpayments.com</p>
          </div>
         </div>

        <div class="support">
          <div style="float:left;">
           <img src="/assets/svg/support.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Support</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           support@worldpayments.com</p>
          </div>
         </div>

         </div>
       </div>
      </div>

      <div id="hub_contact_form">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6540204",
	formId: "cebd1a6f-03f3-49ff-bde3-8eada3657039"
});
</script>
      </div>

<!--       <div class="col-md-7">
        <div class="contact_us_form">
          <form>
            <div class="contact_us_fld">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="contact_us_fld">
              <input type="email" name="name" placeholder="Email">
            </div>
            <div class="contact_us_fld">
              <textarea placeholder="Your Message"></textarea>
            </div>
            <button style="margin: 0 auto">
                Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
-->
  </div>
</section>

<section id="google_map">
  <img src="/assets/contact/map-img.png">
</section>

<footer id="footer_sec">
  <div class="container_e">
    <div class="row">
      <div class="col m3">
        <div class="footer_heading">
          <h5>Follow Us</h5>
        </div>
        <div class="social_link_f">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/contact/fb.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/twitter-logo-button.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/linkedin-button.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="add_link">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/contact/location-pointer.svg">
                  United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/contact/translation.svg">
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m3">
        <div class="footer_heading">
          <h5>Company</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Resources</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Partner Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Products</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Online Payments</a>
            </li>
            <li>
              <a href="#">POS System</a>
            </li>
            <li>
              <a href="#">Card Machines</a>
            </li>
            <li>
              <a href="#">Email Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Banking <span>Beta</span></h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Fintech Banking</a>
            </li>
            <li>
              <a href="#">E-Wallets</a>
            </li>
            <li>
              <a href="#">Payment Card Programs</a>
            </li>
            <li>
              <a href="#">Digital</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_line_gray"></div>

    <div class="copy_right_footer">
      <ul>
        <li>World Payments Ltd. 2019. All rights reserved.</li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">
              Contact
          </a>
        </li>

      </ul>
    </div>

  </div>
</footer>

</body>
<script src="assets/materialize.min.js"></script>
</html>
