@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


$font-Poppins: 'Poppins';
$font-Raleway: 'Raleway', sans-serif;
$colore-white: #fff;



body{
  margin: 0;
  padding: 0;
}
.container_e{
  width: 1170px;
  margin: 0 auto;
}
.clear_e{
  clear: both;
}
#main_developer_bg {
  min-height: 770px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: asset-url("developer/dev-bg.png");
}
.logo_sec{
  padding-top: 30px;
}
.nav_link{
  float: left;
  padding-top: 30px;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 36px;
  }
  a{
    text-decoration: none;
    color: $colore-white;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-Poppins;
  }
}
.nav_btn {
  float: right;
  margin-top: 20px;
  position: relative;
  z-index: 3;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
  }
  a{
    text-decoration: none;
    color: $colore-white;
  }
  .nav_login {
    padding-right: 20px;
    font-size: 18px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-Poppins;
  }
  .nav_signup {
    background-color: #F905F5;
    width: 125px;
    display: block;
    float: right;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-Poppins;
  }
}

.clear_e{
  clear: both;
}


// dropdown style
.nav_link li:hover ul {
  display: block;
}
.nav_link li ul {
  background-color: #fff;
  padding: 30px 0;
  position: absolute;
  top: 0;
  margin-top: 90px;
  left: -60px;
  display: none;
  color: red;
  width: 270px;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.nav_link li ul::after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #fff transparent;
  content: "";
  position: absolute;
  top: -10px;
  left: 120px;
}
.nav_link li ul li{
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
}
.nav_link li ul li:last-child{
  padding-bottom: 0;
}
.sub_menu_list {
  display: flex;
}
.sub_menu_icon{
  width: 22%;
  float: left;
}
.sub_menu_text{
  width: 77%;
  h3{
    color: #185B6D;
    font-family: $font-Poppins;
    font-size: 16px;
    margin-bottom: 0;
  }
  p{
    font-size: 12px;
    font-family: $font-Raleway;
    color: #185B6D;
  }
  
}





.dev_banner_img_part{
  padding-top: 150px;
}
.dev_banner_text_part{
  padding-top: 150px;
}

.home_banner_heading{
  padding-top: 30px;
  h3{
    font-size: 40px;
    font-family: $font-Poppins;
    font-weight: 500;
    color: #fff;
    line-height: 60px;
  }
  p{
    font-family: $font-Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }
  %same_btn_banner {
    width: 195px;
    height: 42px;
    border: 0;
    border-radius: 42px;
    line-height: 42px;
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
  }
  .creat_acc{
    background-color: #F905F5;
    @extend %same_btn_banner;
    color: #fff;
    margin-right: 10px;
  }
  .contact_sale{
    @extend %same_btn_banner;
    color: #111111;
    background-color: #fff;
  }
  
}



#mer_get_api_sec{
  padding: 100px 0;
}
.api_box_bg {
  background-color: #071828;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.api_big_icon {
  text-align: center;
}

%api_name_heading{
  font-family: $font-Poppins;
  font-weight: 400;
  font-size: 27px;
}
%api_name_pera{
  font-family: $font-Poppins;
  font-weight: 400;
  font-size: 12px;
}
.api_big_text{
  h3{
    color: #fff;
    @extend %api_name_heading;
  }
  p{
    @extend %api_name_pera;
    color: #fff;
  }
}
.api_name_icon {
  text-align: center;
}
.api_name_sec {
  border-bottom: 1px solid #707070;
  margin-bottom: 30px;
  padding: 20px 0;
}
.api_name_text{
  h3{
    color: #071828;
    @extend %api_name_heading;
  }
  p{
    color: #071828;
    @extend %api_name_pera;
  }
}


#how_it_work_sec{
  background-color: #F6F7FA;
  padding: 100px 0;
}
.how_it_work_heading{
  text-align: center;
  h3{
    font-family: $font-Poppins;
    font-weight: 600;
    font-size: 36px;
    color: #071828;
  }
  p{
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 12px;
    color: #071828;
    width: 536px;
    margin: 0 auto;
  }
}
.how_it_work_custom_cri{
  margin: 40px 0;
}
.how_it_work_custom_cri{
  background-image: asset-url("developer/how-it-work-cri.svg");
  background-repeat: no-repeat;
  min-height: 690px;
}
.how_it_work_custom_text_box {
  width: 372px;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #071828;
  border-radius: 5px;
  h3{
    font-size: 18px;
    font-weight: 700;
    font-family: $font-Poppins;
    position: relative;
  }
  p{
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 12px;
    color: #071828;
  }
}
.box_first{
  position: relative;
  left: 41%;
  top: 62px;
  margin-bottom: 80px;
}
.box_scend{
  position: relative;
  left: 50%;
  top: 50px;
  margin-bottom: 50px;
 
}


#get_start_sec{
  background-color: #071828;
  padding: 100px 0;
  
}
.get_start_heading{
  text-align: center;
  h3{
    font-size: 50px;
    font-family: $font-Poppins;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px;
  }
  button{
    width: 136px;
    height: 41px;
    background-color: #fff;
    border-radius: 41px;
    border: 0;
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 12px;
    margin-right: 15px;
  }
}














































#footer_sec {
  background-color: #F6F7FA;
  padding-top: 70px;
  padding-bottom: 40px;
}
.social_link_f {
  ul{
    margin: 0;
    padding: 0;
    margin-left: -8px;
  }
  li{
    display: inline-block;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 40px;
  }
}

.footer_heading {
  h5{
    font-size: 18px;
    color: #185B6D;
    font-family: $font-Poppins;
    margin-top: 0;
    font-weight: 500;
    padding-bottom: 10px;
  }
}
.add_link{
  padding-top: 15px;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    padding-bottom: 15px;
    list-style-type: none;
  }
  a{
    font-size: 16px;
    color: #185B6D;
    font-family: $font-Poppins;
    font-weight: 500;
  }
  img{
    position: relative;
    top: 7px;
    padding-right: 5px;
  }

}
.footer_link{
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    padding-bottom: 7px;
    padding-top: 7px;
    list-style-type: none;
  }
  a{
    font-size: 16px;
    color: #808080;
    font-family: $font-Poppins;
    font-weight: 400;
  }
}

.footer_line_gray {
  height: 1px;
  width: 100%;
  background-color: #d1d1d1;
  margin-bottom: 60px;
  margin-top: 40px;
}
.copy_right_footer {
  text-align: right;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
    font-size: 12px;
    font-family: $font-Poppins;
    color: #808080;
  }
  a{
    padding-left: 40px;
    padding-right: 40px;
    color: #808080;
  }
}

.nav_link,.home_banner_img_phone,.nav_btn{
  display: block;
}
.only_mob{
  display: none;
}
.mobile{
  display: none;
}

/* Extra large devices (large laptops) */
@media (min-width: 1024px) and (max-width: 1400px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 767px) and (max-width: 1024px) {


}
 /* Mobile devices (phones) */
@media only screen and (max-width: 767px)  {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .nav_link {
    display: none;
  }
  .home_banner_img_phone {
    display: none;
  }
  .container_e {
    width: 100%;
    padding: 0 30px;
  }
  .nav_btn {
    display: none;
  }
  .email_f,.email_f_super {
    width: 100%;
    margin-bottom: 20px;
  }
  .poTop {
    position: relative;
    top: 0;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .developers_first_heading p {
    width: 100%;
  }
  .ready_to_get_btn .ready_c_sale {
    margin-left: 10px;
  }
  .footer_line_gray {
    margin-bottom: 26px;
    margin-top: 9px;
  }
  .copy_right_footer a {
    padding-left: 6px;
    padding-right: 6px;
  }
  .copy_right_footer {
    text-align: center;
  }
  .home_banner_heading .creat_acc, .home_banner_heading .contact_sale {
    width: 47%;
    font-weight: 400;
    font-size: 14px;
  }
  .only_mob{
    display: block;
  }
  .only_mob.mob_menu_btn {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    float: right;
    background-color: transparent;
    border: 0;
  }
  .only_mob.mob_menu_btn:focus{
    border: none;
    outline: none;
  }
  .mob_menu_link{
    ul{
      padding-left: 0;
    }
    li{
      list-style-type: none;
      padding-left: 0;
    }
    a{
     font-size: 16px;
     text-decoration: none;
    }
    img{
      width: 40px;
    }
  }
  .sub_menu_icon {
    width: 15%;
  }
  .menu_link_left{
    h3{
      font-size: 18px;
      font-family: $font-Poppins;
    }
  }
  .menu_link_w_text{
    ul{
      padding-left: 15px;
    }
    li{
      width: 50%;
      float: left;
      list-style-type: none;
      padding-bottom: 10px;
    }
    a{
      text-decoration: none;
    }
  }
  .modal_footer_e{
    padding: 15px;
    background-color: #f6f9fc;
    a{
      text-decoration: none;
      font-size: 16px;
      font-family: $font-Poppins;
      font-weight: 500;
    }
  }
  #main_home_bg::after {
    background-image: none;
}
.col-xs-6.col-sm-6.col-md-3,.col-xs-6.col-sm-6.col-md-9 {
  float: left;
  width: 50%;
}
#footer_sec {
  padding-top: 40px;
}
.footer_link li {
  padding-bottom: 5px;
  padding-top: 5px;
}
.dev_banner_img_part img {
  max-width: 100%;
}
.dev_banner_img_part,.dev_banner_text_part {
  padding-top: 50px;
}
.home_banner_heading h3 {
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 15px;
}
.api_big_icon {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 15px;
}
.api_big_text {
  text-align: center;
}
.api_name_icon {
  padding-bottom: 25px;
}
.api_name_text {
  text-align: center;
}
.how_it_work_heading p {
  width: 100%;
}
.box_first {
  left: 0;
}
.how_it_work_custom_text_box {
  width: 100%;
}
.box_scend {
  left: 5%;
}
.get_start_heading h3 {
  font-size: 33px;
}
#get_start_sec {
  padding: 50px 0;
}
#how_it_work_sec {
  padding: 0px 0;
}

}