@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


$font-Poppins: 'Poppins';
$font-Raleway: 'Raleway', sans-serif;
$colore-white: #fff;



body{
  margin: 0;
  padding: 0;
}
#main_home_bg {
  background-image: asset-url("home/home-bg-banner.svg");
  min-height: 770px;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}
#main_home_bg::after{
  content: "";
  background-image: asset-url("home/home-after.svg");
  height: 573px;
  width: 400px;
  position: absolute;
  right: 0;
  top: -350px;
  background-repeat: no-repeat;
}
.animate_img{
  right: -100px;
  position: relative;
}
.animate_img_div{
  width: 55%;
}
.home_banner_img_phone img{
  width: 620px;
  position: relative;
  top: 70px;
  right: -109px;
}
.plus_icon img{
  width: 75px;
  position: relative;
  right: -120px;
  top: -52px;
}
.block_img {
  position: relative;
  right: 40px;
  top: 50px;
}

.home_banner_text_part{
  padding-top: 150px;
}
.d_banking_link {
  a{
    background: rgba(42, 118, 51, 0.1);
    color: #fff;
    padding: 5px 10px 7px 10px;
    border-radius: 40px;
    text-decoration: none;
    font-family: $font-Raleway;
    font-weight: 400;
    font-size: 16px;
  }
  span{
    background-color: #F905F5;
    padding: 2px 10px 4px 10px;
    border-radius: 20px;
    font-weight: 500;
    font-family: $font-Raleway;
  }
}
.home_banner_heading{
  padding-top: 30px;
  h3{
    font-size: 40px;
    font-family: $font-Poppins;
    font-weight: 500;
    color: #fff;
    line-height: 60px;
  }
  p{
    font-family: $font-Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }
  %same_btn_banner {
    width: 195px;
    height: 42px;
    border: 0;
    border-radius: 42px;
    line-height: 42px;
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
  }
  .creat_acc{
    background-color: #F905F5;
    @extend %same_btn_banner;
    color: #fff;
    margin-right: 10px;
  }
  .contact_sale{
    @extend %same_btn_banner;
    color: #111111;
    background-color: #fff;
  }
  
}
.plus_icon{
  float: right;
}

.phone_routate{
  position: relative;
}
.home_banner_img_part {
  position: absolute;
  top: 30%;
  left: 30%;
  .block_img{
    display: block;
  }
}
.home_banner_img_phone{
  position: absolute;
  top: 0;
  right: 0;
}



#our_services_sec{
  padding: 100px 0;
  background-color: #F6F7FA;
}
.services_heading{
  h3{
    font-size: 30px;
    font-family: $font-Poppins;
    font-weight: 500;
    color: #585858;
  }
  p{
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
    color: #7F7F7F;
  }
}
.email_f {
  width: 265px;
  float: left;
  margin-right: 15px;
  input{
    width: 100%;
    border-radius: 44px;
    height: 44px;
    padding-left: 20px;
    border: 0;
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    padding-right: 15px;
  }
}
.get_start{
  button{
    width: 168px;
    background-color: #F905F5;
    height: 42px;
    float: left;
    border: 0;
    border-radius: 42px;
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }

}

.email_f_super {
  width: 265px;
  float: left;
  margin-right: 15px;
  input{
    width: 100%;
    border-radius: 44px;
    height: 44px;
    padding-left: 20px;
    border: 0;
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    padding-right: 15px;
    background-color: #F6F7FA;
  }
}
.ser_payment_box{
  background-image: asset-url("home/payment-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30px 30px;
  position: relative;
  min-height: 317px;
  height: 350px;
  border-radius: 10px;
  img{
    padding-bottom: 10px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    font-family: $font-Poppins;
    color: #fff;
  }
  p{
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
    line-height: 24px;
  }
  button{
    background-color: transparent;
    border: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;

  }
}
.ser_telephone_box{
  background-image: asset-url("home/telephone-bg.svg");
  text-align: center;
  padding: 30px 30px;
  border-radius: 7px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 257px;
  img{
    padding-bottom: 10px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    font-family: $font-Poppins;
    color: #fff;
  }
  p{
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
    line-height: 24px;
  }
  button{
    background-color: transparent;
    border: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    bottom: 20px;
  }

}
.mTop{
  margin-top: 40px;
}
.poTop{
  position: relative;
  top: 30%;
}
.ser_pos_box{
  background-image: asset-url("home/pos-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 330px;
  text-align: center;
  padding: 30px 30px;
  border-radius: 7px;
  position: relative;
  img{
    padding-bottom: 10px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    font-family: $font-Poppins;
    color: #fff;
  }
  p{
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
    line-height: 24px;
  }
  button{
    background-color: transparent;
    border: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
  }

}



#super_charge_sec{
  background-color: #fff;
  padding: 100px 0;
  position: relative;
}
.super_charge_text{
  h3{
    font-size: 30px;
    font-weight: 500;
    font-family: $font-Poppins;
    padding-bottom: 20px;
    line-height: 40px;
    color: #585858;
  }
  p{
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
    color: #7F7F7F;
  }
}





#developers_first_sec{
  background-color: #F6F7FA;
  padding: 100px 0;
  position: relative;
}
.developers_first_heading{
  text-align: center;
  h3{
    font-size: 30px;
    font-weight: 500;
    font-family: $font-Poppins;
    line-height: 40px;
    color: #585858;
  }
  p{
    font-family: $font-Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #7F7F7F;
    width: 424px;
    margin: 0 auto;
  }
}
.triple-pad-bottom{
  padding-bottom: 30px;
}

.li_style{
  color: #7F7F7F;
  list-style: inherit;
}
.animation_img img {
  position: absolute;
  right: 0;
  top: 0;
}

#ready_to_get_sec{
  background-color: #fff;
  padding: 100px 0;
}
.ready_to_get_text{
  h3{
    font-size: 43px;
    color: #185B6D;
  }
  p{
    font-size: 25px;
  }
}
%same_ready_btn{
  width: 255px;
  height: 64px;
  border-radius: 64px;
  border: 0;
  font-size: 25px;
  line-height: 64px;
  background-color: #F905F5;
  color: #fff;
}
.ready_to_get_btn{
  margin-top: 30px;
  .ready_c_acc {
    @extend %same_ready_btn;
  }
  .ready_c_sale{
    @extend %same_ready_btn;
    margin-left: 15px;
  }
}


.nav-tabs {
  border-bottom: 1px solid transparent;
}

.tab_list_e {
  margin-top: 40px;
  li{
    display: block;
    float: left;
    margin-bottom: 11px;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-radius: 40px;
  }
  a{
    font-size: 30px;
    font-family: $font-Poppins;
    font-weight: 500;
    text-decoration: none;
    color: #585858;
  }
}
.tab_pane_e{
  p{
    position: relative;
    padding-top: 120px;
    width: 565px;
    padding-left: 123px;
    font-size: 18px;
    font-family: $font-Poppins;
    font-weight: 500;
  }
}
.tab_list_e ul li.active {
  background-color: #fff;
}
.mobile{
  display: none;
}
 .tab_content_bg {
  background-image: asset-url('developer/dev-banner-right.svg');
  min-height: 430px;
  background-size: cover;
}
.tab-content {
  display: none;
}
.developers_first_heading p {
  width: 90%;
  margin: 15px auto;
  color: #b8b8b8;
}

@media only screen and (max-width: 767px)  {
  .animation_img img {
    position: relative;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .get_start{
    text-align: center;
  }
  .home_banner_heading .creat_acc, .home_banner_heading .contact_sale{
    margin-bottom: 30px;
  }
  .get_start button{
    float: unset;
  }
  .services_heading p{
    text-align: left;
  }
  .developers_first_heading p{
    text-align: justify;
  }
  .tab_content_bg {
    background-repeat: no-repeat;
    min-height: 430px;
    background-size: contain;
  }
  #main_home_bg {
    background-image: asset-url("home/home-mobile.svg");
    background-size: contain;
  }
  .d_banking_link a {
    font-size: 14px;
  }
  .d_banking_link {
    text-align: center;
  }
  .home_banner_heading {
    padding-top: 55px;
  }
  .home_banner_heading h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
  }
  .home_banner_heading p {
     font-weight: normal; 
    font-size: 14px;
    text-align: center;
  }
  .home_banner_heading .creat_acc, .home_banner_heading .contact_sale {
    margin-top: 0px;
    margin-bottom: 85px !important;
    height: 34px;
    line-height: 34px;
    font-size: 14px !important;
  }
  #main_home_bg .home_banner_text_part {
    padding-top: 35px;
  }
  .our_services {
    text-align: center;
  }
  .pink_bar {
    width: 13.3%;
    display: inline-block;
    background-color: #F905F5;
    margin: 0px 5px;
    height: 5px;
  }
  .our_services h3{
    line-height: 10px;
    font-family: 'Poppins';
  }
  .our_services_div {
    margin-top: 20px;
  }
  .our_services p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .services_panel{
    width: 270px;
    height: 370px;
    padding-top: 50px;
    margin: 41px auto;
    text-align: center;
    background-image: asset-url('home/panel_simple.svg')
  }
  .services_panel h3 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .services_panel img{
    width: 85px;
    margin: 0 auto;
  }
  .services_panel p{
    font-size: 12px;
    padding: 15px 15px 0px 15px;
  }
  .blue_bar {
    background-color: #17C9F2;
    width: 15%;
    height: 2px;
    margin: 5px;
    text-align: center;
    display: inline-block;
  }
  .services_panel span{
    font-size: 12px;
    color: black;
  }
  .services_panel span a{
    color: black;
  }
  .service_list{
    width: 100%;
  }
  .slick-arrow{
   background: #17C9F2 !important;
    border-radius: 50%;
  }
  .responsive{
    width: 100%;
    margin: 0px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 16px !important;
  }

  #super_charge_sec {
    padding: 0px 0;
  }
}
@media only screen and (max-width: 375px)  {
  .d_banking_link a {
    font-size: 12px;
  }
  .d_banking_link {
    text-align: center;
  }
  .home_banner_heading {
    padding-top: 30px;
  }
  .home_banner_heading h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
  }
  .home_banner_heading p {
     font-weight: normal; 
    font-size: 12px;
    text-align: center;
  }
  .home_banner_heading .creat_acc, .home_banner_heading .contact_sale {
    font-size: 12px !important;
  }
  .home_banner_heading .creat_acc, .home_banner_heading .contact_sale {
    margin-top: 0px;
    margin-bottom: 85px !important;
    height: 34px;
    line-height: 34px;
  }
  #main_home_bg .home_banner_text_part {
    padding-top: 35px;
  }
  .our_services {
    text-align: center;
  }
  .pink_bar {
    width: 13.3%;
    display: inline-block;
    background-color: #F905F5;
    margin: 0px 5px;
    height: 5px;
  }
  .our_services h3{
    line-height: 10px;
    font-family: 'Poppins';
  }
  .our_services_div {
    margin-top: 20px;
  }
  .our_services p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .services_panel{
    width: 270px;
    height: 370px;
    padding-top: 50px;
    margin: 41px auto;
    text-align: center;
    background-image: asset-url('home/panel_simple.svg')
  }
  .services_panel h3 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .services_panel img{
    width: 85px;
    margin: 0 auto;
  }
  .services_panel p{
    font-size: 12px;
    padding: 15px 15px 0px 15px;
  }
  .services_panel span{
    font-size: 12px;
    color: black
  }
  .service_list{
    width: 100%;
  }
  .slick-arrow{

  }
}

















