body {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: #3B3B3B;
	background-image: url('Assests/slider_background.svg');
	background-repeat: no-repeat;
}

h1 {
	font-family: Poppins;
	font-size: 40px;
	font-weight: 500;
	color: #3B3B3B;
	text-align: center;
}

h2 {
	font-family: Poppins;
	font-size: 30px;
	font-weight: 500;
	color: #3B3B3B;

}
.button {
	width: 195px;
	height: 42px;
	border: 0;
	border-radius: 42px;
	color: #FFFFFF;
	background-color: #F905F5;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
}

.title_bar {
	display: flex;
	justify-content: center;
	margin-top: -25px;
}

#aboutHeader .header_content {
	display: flex;
	justify-content: center;
}

#aboutHeader h2 {
	color: #FFF;
	max-width: 554px;
	margin-top: 170px;
}

#aboutUs {
	display: flex;
	justify-content: center;
	margin-top: 120px;
}

#aboutUs .about_content {
	max-width: 770px;
	text-align: center;
}

#merchant {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

#merchant .merchant_text {
	text-align: center;
}

#merchant_graphics {
	margin-top: 50px;
}

#merchant_graphics img {
	width: 364px;
	height: 372px;
	margin: -30px;
}

#merchant .col-md-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#merchant .col-md-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#merchant_graphics .unique_optimization {
	margin-top: -20px;
}

#merchant_graphics .office_reporting {
	margin-top: -20px;
}

#pricing {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#pricing .pricing_text {
	max-width: 770px;
}

#pricing_graphic img {
	width: 1059px;
	height: 571px;
	margin-top: 30px;
	position: relative;
}

#integrate.button {
	position: absolute;
	margin-top: -136px;
	margin-left: -322px;
}

#customize.button {
	position: absolute;
	margin-top: -136px;
	margin-left: 200px;
}

#vision {
	margin-top: 50px;
}

#vision_content .col-v-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#vision_content .col-v-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#vision_content img {
	width: 364px;
	height: 372px;
	margin: -30px;
}
