<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Blog</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/sign_up' %>  

</head>
<body class="signup_bg">
<section id="signup_sec">
  <div class="container_signup">
    <div class="signup_right_part">
        <div class="signup_right_inner">
          <h3>Create Account</h3>
          <p>Create your WorldPayments Account</p>
          <form>
            <div class="f_group">
              <input type="f-name" placeholder="Full Name">
            </div>
            <div class="f_group">
              <input type="text" placeholder="Email ">
            </div>
            <div class="f_group">
              <input type="password" placeholder="Password">
            </div>
            <div class="f_group">
              <input type="password" placeholder="Confirm Password">
            </div>
            <div class="checkbox_forget_signup">
              <label class="checkbox_e">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              <label class="text_checkbox">I'm not a Robot</label>
              <div class="robot_icon">
                <a href="#">
                  <img src="/assets/sign_up/roboto.svg">
                </a>
              </div>
            </div>
            <div class="c_acc_btn">
              <button>
                CREAT ACCOUNT >
              </button>
            </div>
          </form>
        </div>
        <div class="login_right_list">
          <ul>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
  
    </div>
    <div class="signup_left_part">
      <div class="signup_left_inner">
        <h3>Welcome Back</h3>
        <p>
          Already have an account?
        </p>
        <button>
          LOGIN >
        </button>
      </div>
    </div>
    <div class="clear_e"></div>
  </div>
</section>



</body>
</html> 