<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Payment landing page</title>
    <!-- google font -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- all css link -->
    <link rel="stylesheet" href="assets/all.min.css">
	<link rel="stylesheet" href="assets/bootstrap.min.css">
	<link rel="stylesheet" href="assets/swiper.min.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/responsive.css">
</head>
<body>




    <!-- banner section start here -->
    <section class="banner">
        <div class="banner_area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="banner_content">
                        <div class="banner_inner">
                            <div class="banner_title">
                                <h4>world payments</h4>
                            </div>
                            <div class="banner_main">
                                <div class="banner_content_top">
                                    <span>new</span>
                                    <p>Introducing the new era of payments ></p>
                                </div>
                                <div class="banner_body">
                                    <h2>Digital Banking and online payments</h2>
                                    <p>World Payments provide a unique online payment gateway in an ever-growing digital world.</p>
                                </div>
                                <div class="banner_footer">
                                    <select name="" id="">
                                        <option value="">+44</option>
                                    </select>
                                    <input type="text">
                                    <span><a href="#">Pre Register</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="banner_fontpage_image">
                        <img src="assets/banner.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section ending here -->


    <!-- info section start here -->
    <section class="info">
        <div class="container">
            <div class="info_title">
                <h4>A unified platform for payments</h4>
            </div>
        </div>
        <!-- <marquee onmouseover="stop()" onmouseout="start()" scrollamount="10">    -->
            <div class="info_area">
               <ul class="d-flex">
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info1.svg" alt="img">
                        </div>
                    </li>
                     <li>
                        <div class="info-item">
                            <img src="assets/info/info2.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                           <img src="assets/info/info3.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info4.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info5.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info6.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info1.svg" alt="img">
                        </div>
                    </li>
                     <li>
                        <div class="info-item">
                            <img src="assets/info/info2.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                           <img src="assets/info/info3.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info4.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info5.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info6.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info1.svg" alt="img">
                        </div>
                    </li>
                     <li>
                        <div class="info-item">
                            <img src="assets/info/info2.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                           <img src="assets/info/info3.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info4.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info5.svg" alt="img">
                        </div>
                    </li>
                    <li>
                        <div class="info-item">
                            <img src="assets/info/info6.svg" alt="img">
                        </div>
                    </li>

               </ul>
           </div>
     <!-- </marquee>   -->
    </section>
    <!-- info section ending here -->



    <!-- experience section start here -->
    <section class="experience">
        <div class="experience_section_area">
            <div class="container">
                <div class="exp_title">
                    <h4>Get hassle free payment experiences</h4>
                    <p>World Payments is the answer to your every online
                    <br>transaction concerns</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="round"><img src="assets/round/round.png" alt=""></div>
                        <div class="exp_image_section">
                            <img src="assets/images/phone.png" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="exp_inner_Section">
                            <div class="exp_item">
                                <div class="exp_icon">
                                    <img src="assets/icon1.png" alt="images">
                                </div>
                                <div class="exp_content">
                                    <h5>Premium Banking Network</h5>
                                    <p>Authentication standard to help clienta void fraudlent activity</p>
                                </div>
                            </div>
                            <div class="exp_item">
                                <div class="exp_icon">
                                    <img src="assets/icon4.png" alt="images">
                                </div>
                                <div class="exp_content">
                                    <h5>Unique Localize Methods</h5>
                                    <p>Widest selection of acquiring banks & financial institutions</p>
                                </div>
                            </div>
                            <div class="exp_item">
                                <div class="exp_icon">
                                    <img src="assets/icon2.png" alt="images">
                                </div>
                                <div class="exp_content">
                                    <h5>Traffic Management</h5>
                                    <p>Intuitive payment funnel increasses revenue and inprove user experience</p>
                                </div>
                            </div>
                            <div class="exp_item">
                                <div class="exp_icon">
                                    <img src="assets/icon3.png" alt="images">
                                </div>
                                <div class="exp_content">
                                    <h5>PCI Lavel Enviroment</h5>
                                    <p>Accept process and transmit cardholder data securely with our robuts PCI Enviroment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- experience section ending here -->


    <!-- managing section start here -->
    <section class="manage_section">
        <div class="managing_area">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12">
                    <div class="manage_content">
                        <h2>Manage your finances with one platform</h2>
                        <p>Get a unique online payment gateway in an ever-growing digital world where businesses and professionals prefer transactions to be done at the click of the finger. </p>
                        <p>Manage all your business activity in one back office, which is user-friendly, and unrivalled.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="manage_image_inner">
                        <div class="animations">
                            <div class="box">
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                                <span style="--i:4"></span>
                                <span style="--i:5"></span>
                                <span style="--i:6"></span>
                            </div>
                        </div>
                        <div class="image_item">
                            <div class="image1">
                                <img src="assets/Manage.png" alt="images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- managing section  ending here -->


    <!-- global section start here -->
    <section class="global_section">
        <div class="global_area">
            <div class="container">
                <div class="global_title">
                    <h4>Why Use WorldPayments</h4>
                    <p>World Payments gives you easier and quick access without getting lost in technical jargon. Our user-friendly interface is designed, keeping in mind the requirements and usage of customers. Your payment gateway will do all the tasks needed giving you freedom and relaxation.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="global_content">
                            <div class="global_list">
                                <ul>
                                    <li>Free USD Checking Account</li>
                                    <li>Free EURO IBAN Account</li>
                                    <li>Interbank FX Rates</li>
                                    <li>Free Bank Transfers in 25 currencies</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="global_image">
                            <img src="assets/global.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- global section ending here -->


        <!-- footer section start here -->
        <footer class="footer_section">
            <div class="footer_area">
                <div class="container">
                    <div class="footer_wrapper">
                        <div class="footer_innter">
                            <div class="footer_item">
                                <div class="footer_title">
                                    <h6>Follow Us</h6>
                                </div>
                                <div class="social_icon">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="location">
                                    <i class="fas fa-map-pin"></i>
                                    <span>United Kingdom</span>
                                </div>
                                <div class="language">
                                    <i class="fas fa-globe-asia"></i>
                                    <span>English</span>
                                </div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_title">
                                    <h6>Company</h6>
                                </div>
                                <div class="footer_menu_list">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Partner Program</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_title">
                                    <h6>Resources</h6>
                                </div>
                                <div class="footer_menu_list">
                                    <ul>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Privacy</a></li>
                                        <li><a href="#">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_title">
                                    <h6>Products</h6>
                                </div>
                                <div class="footer_menu_list">
                                    <ul>
                                        <li><a href="#">Payments</a></li>
                                        <li><a href="#">Billing</a></li>
                                        <li><a href="#">Connect</a></li>
                                        <li><a href="#">Global</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_title">
                                    <h6>Banking</h6>
                                </div>
                                <div class="footer_menu_list">
                                    <ul>
                                        <li><a href="#">Fintech Banking</a></li>
                                        <li><a href="#">E-Wallets</a></li>
                                        <li><a href="#">Payment Card Programs</a></li>
                                        <li><a href="#">Open Source</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bottom_section">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <div class="footer_bottom_content">
                                        <ul>
                                            <li><a href="#">&#169; World Payments Ltd. 2019. All rights reserved. </a></li>
                                            <li><a href="#">Privacy</a></li>
                                            <li><a href="#">Terms</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer section ending here -->





        <!-- all link  -->
        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/way.js"></script>
        <script src="assets/js/fontawesome.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/swiper.min.js"></script>
        <script src="assets/js/apps.js"></script>

</body>
</html>
