<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment Card Machines</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<link rel="stylesheet" href="css/mystyle.css">
<%= stylesheet_link_tag 'pages/card_machine' %>   
<%= stylesheet_link_tag 'pages/footer' %>   

</head>
<body>

  <%= render 'layouts/navbar_simple' %>
  <section id="w_p_banner_sec">
    <div class="container_e">
      <div class="row">
          <div class="col-md-6">
            <div class="card_machines_text">
              <h3> Card Machines: for your business transaction.
              </h3>
              <p>
              World payments offer you ease of access and smarter use of card machines for secure transactions in your business. Our set up will ensure interactive and easy access that will save you time and energy.
              </p>
              <a href="javascript:;" class="open_signup">
                  Create Account
                <i class="material-icons creat_acc_icon">keyboard_arrow_right</i>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card_machines_img">
              <img src="/assets/card_machine/Card Machine.svg">
            </div>
          </div>
        </div>

    </div>
  </section>
  <section id="find_card_machines_sec">
    <div class="container_e">
      <div class="row">
        <div class="col-md-12">
          <div class="find_card_main_heading">
            <h3>Which is the Right Card Machine for You?</h3>
            <p>
             The wide array of card machines offered by us; are reliable, fast and secure that aptly fit your business model. Whatever your needs are: whether you are at the till, or moving to visit your customers or just in the shops; our services facilitate your processes of accepting card payments. Our pricing plans are simplified enough to suit your business plans through our card machines.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="m_card_img">
            <h3>Portable Card Machine</h3>
            <img src="/assets/card_machine/Card Machine-1.svg">
            <p>
              Portable Card Machines simplify the payment process through cards around your workplace, be it restaurant or shop.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="m_card_img">
            <h3>NFC Payments </h3>
            <img src="/assets/card_machine/Card Machine-2.svg">
            <p>
              NFC is a technology that capacitates two devices to function and communicate wirelessly in close proximity to each other. We at World payments ensures such contactless payments.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="m_card_img">
            <h3>Customized Machines</h3>
            <img src="/assets/card_machine/Card Machine-3.svg">
            <p>
             World payments pride in understanding the intricacies of your business and its unique requirements. Therefore we make sure that you receive proper customer support services for the credit card processing and other needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="j_w_l_payment">
    <div class="container_e">
      <div class="j_w_l_payment_heading">
        <h3>World’s Leading Payments Provider</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="j_w_l_text_img">
            <img src="/assets/card_machine/05 Support Service.svg">
            <h4>24/7 Support Service</h4>
            <p>Our professional team is always at your service to help, support and provide solutions to your coding or any other issue. Please feel free to contact Support or our Sales Team.</p>
          </div>
        </div>
        <div class="col-md-4">
            <div class="j_w_l_text_img">
              <img src="/assets/card_machine/06 Advance Terminal.svg">
              <h4>Advanced Terminal</h4>
              <p>Our highly developed POS system and Advance Terminal allows the growth of your business intricacies through ease of access. Start accepting online and in-store payments by joining us today.</p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="j_w_l_text_img">
            <img src="/assets/card_machine/07 Check.svg">
            <h4>Simple Pricing</h4>
            <p>There are no hidden charges. Our pricing system is simple and transparent. You will always be aware of every transaction detail.</p>
          </div>
        </div>
        
      </div>

    </div>
  </section>
  <section id="about_card_sec">
    <div class="container_e">
      <div class="about_card_heading">
        <h3>Learn more about card machines</h3>
      </div>
      <div class="row mb_20">
        <div class="col-md-6">
          <div class="about_card_gray">
            <h4>How to accept credit card payments online</h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium </p>
            <a href="#">
                Learn More ->
            </a>
          </div>
        </div>
        <div class="col-md-6">
            <div class="about_card_gray">
              <h4>How to accept credit card payments online</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium </p>
              <a href="#">
                  Learn More ->
              </a>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="about_card_gray">
              <h4>How to accept credit card payments online</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium </p>
              <a href="#">
                  Learn More ->
              </a>
            </div>
          </div>
          <div class="col-md-6">
              <div class="about_card_gray">
                <h4>How to accept credit card payments online</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium </p>
                <a href="#">
                    Learn More ->
                </a>
              </div>
          </div>
      </div>
    </div>
  </section>
 <%= render 'layouts/footer' %>

  <!-- Dropdown menu start -->
   

</body>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
</html> 