<header>
  <div class=" banner ">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<section id="intro">
  <div class="container">
    <div class="row">
        <div  class="col-lg-6 col-sm-12">
            <span><a href="" class="btn-xs-purple">New</a> Introducing new terminal &gt;</span>
            <h2 class="sixty-gap-top color-white">Fastest Growing Online Payment Gateway</h2>
            <h4 class="color-white triple-pad-right triple-gap-bottom">We are leading in world of Cyprus join us in digital reform in payment </h4>
            <a href="" class="btn-md-purple double-gap-right "> Contact Sale</a>
            <a href="" class="btn-md-purple bg-transparent border-white"> Contact Sale</a>
             <img  class="plus-img" src="/assets/plus">
        </div>
        <div class="col-lg-6 col-sm-12 ">
          <img class="mobile-svg" src="/assets/mobile_1.svg">
        </div>
    </div>
  </div>
</section>
</header>
<!-- 2nd Section  -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-10 triple-pad-right ">
        <h2>The Complete Toolkit For Intenert Busniess</h2>
        <h5 class="triple-gap-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </h5>
          <a href="" class="btn-md-purple  "> Contact Sale</a>
      </div>
      <div class="col-md-6 col-sm-10 ">
          <img src="/assets/anmation.svg">
      </div>
    </div>
  </div>
</section>
<!-- 3rd Section -->
<section>
  <div class="container service-container container-heading">
          <h2>Service We Provide</h2>
          <hr class="hr-below-heading">
    <div class="row">
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/bag.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/boost.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/recipt.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/bag.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/boost.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
          <div class="half-gap-right service-box">
            <img src="/assets/recipt.svg">
            <h4 class="f-sb">White lable Payment Gatway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore 
            </p>
            <div class="learn-more">
              <span>Learn More</span>
            </div>
          </div>
      </div>      
    </div>
  </div>
</section>
<!-- devloper Section -->
<section class="developer-section">
  <div class="container developer-container container-heading">
    <h2>Developer</h2>
    <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing eli ipsum dolor sit amet.</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
          <img src="/assets/developer.svg">        
      </div>
      <div class="col-md-6 col-xs-12">
         <div class="right-devloper-colmn">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p class="fifty-gap-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, consectetur adipiscing eli ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet.
            </p>
              <a href="" class="large-white-btn">Discover how our system work ></a>
         </div>        
      </div>
    </div>
  </div>
</section>
<!-- Integration Section -->
<section>
  <div class="container integration-container">
      <div class="row">
          <div class="col-md-8 col-xs-6 integration-div">
            <div class="row">
               <div class="col-md-4 col-sm-6 ">
                  <div class="half-gap-right service-box">
                    <img src="/assets/slack.svg">
                      <h4 class="f-sb">Slack</h4>
                      <p>Lorem ipsum dolor sit amet 
                      </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 analytics-box ">
                  <div class="half-gap-right service-box">
                    <img src="/assets/google-analytics.svg">
                      <h4 class="f-sb">Analytics</h4>
                      <p>Lorem ipsum dolor sit amet
                      </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <div class="half-gap-right service-box">
                    <img src="/assets/wordpress.svg">
                      <h4 class="f-sb">Wordpress</h4>
                      <p>Lorem ipsum dolor sit amet
                      </p>
                  </div>
                </div>
              </div>
          </div>    
          <div class="col-md-4 integration-div-right ">
            <h4 class="f-b">We play well with others too!</h4>
            <p class="fifty-gap-bottom">Whether your business is based on WordPress or Shopify, integrating with our payment system is easier than ever.</p>
            <a href="" class="large-white-btn">See All Integrations ></a>
          </div>
      </div>
    </div>
</section>
<!-- Lets Work to gether Section -->
<section class="work-together-section">
  <div class="container work-together-conatiner container-heading">
      <h2 class="fifty-gap-bottom">Together, Let's make this work!</h2>
      <div class="col-md-6 col-md-3 offset-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><a href="">Request Demo</a></span>
          </div>
        </div>
      </div>
  </div>
</section>