<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment Card Machines</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/faq' %>   
<%= stylesheet_link_tag 'pages/footer' %>  

</head>
<body>
  <%= render 'layouts/navbar_simple' %>
  <section id="support_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="support_heading">
            <h3>24/7 Support</h3>
            <p>
              Our support team is 24/7 available to assist you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="support_box_sec">
    <div class="container">
      <div class="row flex_e">
        <div class="col-md-4">
          <div class="support_box">
            <img src="/assets/faq/blog-icon-1.svg">
            <h3>Call Us</h3>
            <p> Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, </p>
  
  
          </div>
        </div>
        <div class="col-md-4">
            <div class="support_box">
              <img src="/assets/faq/blog-icon-1.svg">
              <h3>Call Us</h3>
              <p> Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, </p>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section id="faq_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="faq_heading">
            <h3>FAQs</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="according_part">
            <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes1">
                I am not able to receive money.
            </button>
            <div id="custom_collapes1" class="collapse custom_collapes_pera show">
              <p>
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
                consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
              </p>
            </div>
          </div>
          <div class="according_part">
            <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes2">
                I am not able to receive money.
            </button>
            <div id="custom_collapes2" class="collapse custom_collapes_pera">
              <p>
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
                consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
              </p>
              </div>
          </div>
          <div class="according_part">
            <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes3">
                I am not able to receive money.
            </button>
            <div id="custom_collapes3" class="collapse custom_collapes_pera">
              <p>
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
                consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
              </p>
            </div>
          </div>
          <div class="according_part">
            <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes4">
              I am not able to receive money.
            </button>
            <div id="custom_collapes4" class="collapse custom_collapes_pera">
              <p>
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
                consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/footer' %>

  <!-- Dropdown menu start -->
   

</body>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
</html> 