<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Contact Us</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/faq' %>  

</head>
<body>

<header id="main_header">
  <div class="container_e">
    <div class="nav_bar_e">
      <div class="log_main">
        <h1>
          <a href="#">
            <img src="/assets/faq/main-logo.svg">
          </a>
        </h1>
      </div>
      <div class="nav_link_list">
        <ul>
          <li>
            <a href="#">Products <img src="/assets/faq/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Developers <img src="/assets/faq/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Company <img src="/assets/faq/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Pricing </a>
          </li>
        </ul>
      </div>
      <div class="nav_login">
        <ul>
          <li>
            <a href="#">
              <span>
                <img src="/assets/faq/user-icon.svg">
              </span>
              Login
            </a>
          </li>
          <li>
            <a class="signupbtn" href="#">Sing Up >
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clear_e"></div>
    </div>
  </div>
</header>

<section id="support_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="support_heading">
          <h3>24/7 Support</h3>
          <p>
            Our support team is 24/7 available to assist you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="support_box_sec">
  <div class="container">
    <div class="row flex_e">
      <div class="col-md-4">
        <div class="support_box">
          <img src="/assets/faq/blog-icon-1.svg">
          <h3>Call Us</h3>
          <p> Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, </p>


        </div>
      </div>
      <div class="col-md-4">
          <div class="support_box">
            <img src="/assets/faq/blog-icon-1.svg">
            <h3>Call Us</h3>
            <p> Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.  ipsum dolor sit amet, </p>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="faq_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq_heading">
          <h3>FAQs</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="according_part">
          <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes1">
              I am not able to receive money.
          </button>
          <div id="custom_collapes1" class="collapse custom_collapes_pera show">
            <p>
              Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
              consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
            </p>
          </div>
        </div>
        <div class="according_part">
          <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes2">
              I am not able to receive money.
          </button>
          <div id="custom_collapes2" class="collapse custom_collapes_pera">
            <p>
              Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
              consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
            </p>
            </div>
        </div>
        <div class="according_part">
          <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes3">
              I am not able to receive money.
          </button>
          <div id="custom_collapes3" class="collapse custom_collapes_pera">
            <p>
              Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
              consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
            </p>
          </div>
        </div>
        <div class="according_part">
          <button type="button" class="according_btn_e" data-toggle="collapse" data-target="#custom_collapes4">
            I am not able to receive money.
          </button>
          <div id="custom_collapes4" class="collapse custom_collapes_pera">
            <p>
              Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. sit amet, 
              consectet adop adipisicing r.incididunt ugt laboret, consectet adop adipisicing elit.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>





<footer id="footer_sec">
  <div class="container_e">
    <div class="row">
      <div class="col m3">
        <div class="footer_heading">
          <h5>Follow Us</h5>
        </div>
        <div class="social_link_f">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/faq/fb.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/faq/twitter-logo-button.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/faq/linkedin-button.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="add_link">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/faq/location-pointer.svg">
                  United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/faq/translation.svg">
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m3">
        <div class="footer_heading">
          <h5>Company</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Resources</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Partner Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Products</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Online Payments</a>
            </li>
            <li>
              <a href="#">POS System</a>
            </li>
            <li>
              <a href="#">Card Machines</a>
            </li>
            <li>
              <a href="#">Email Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Banking <span>Beta</span></h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Fintech Banking</a>
            </li>
            <li>
              <a href="#">E-Wallets</a>
            </li>
            <li>
              <a href="#">Payment Card Programs</a>
            </li>
            <li>
              <a href="#">Digital</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_line_gray"></div>

    <div class="copy_right_footer">
      <ul>
        <li>World Payments Ltd. 2019. All rights reserved.</li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">
              Contact
          </a>
        </li>
        
      </ul>
    </div>

  </div>
</footer>

</body>
<script src="assets/jquery.min.js"></script>
  <script src="assets/bootstrap.min.js"></script>
</html> 