<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Developer</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/developer' %>  

</head>
<body>

<header id="main_developer_bg">
  <div class="container_e">
    <div class="f_pos_system_nav">
      <div class="row">
        <div class="col-md-4">
          <div class="logo_sec">
            <a href="#">
              <img src="/assets/developer/w-main-logo.svg">
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="nav_link">
            <ul>
              <li>
                <a href="#">Products</a>
              </li>
              <li>
                <a href="#">Developers</a>
              </li>
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
            </ul>
          </div>
          <div class="nav_btn">
            <ul>
              <li>
                <a class="nav_login" href="#">
                  <img src="/assets/developer/nav-login.svg">
                  Login
                </a>
              </li>
              <li>
                <a class="nav_signup" href="#">SIGN UP ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-5">
        <div class="dev_banner_text_part">
          <div class="home_banner_heading">
            <h3>
              WorldPayments APIs
              A Technology Driven 
              Acquirer
            </h3>
            <p>
                World Payments provide a unique online payment gateway in an ever-growing digital world where
                businesses and professionals prefer transactions to be done at the click of the finger. 
            </p>
            <button class="creat_acc">CREAT ACCOUNT ></button>
            <button class="contact_sale">CONTACT SALES</button>
          </div>
          
        </div>
      </div>
      <div class="col-md-7 phone_routate">
        <div class="dev_banner_img_part">
          <img src="/assets/developer/dev-banner-right.svg">
        </div>
      </div>
    </div>
  </div>
</header>

<section id="mer_get_api_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="api_box_bg">
          <div class="row">
            <div class="col-md-4">
              <div class="api_big_icon">
                <img src="/assets/developer/merchant.svg">
              </div>
            </div>
            <div class="col-md-8">
              <div class="api_big_text">
                <h3>Merchant APIs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-xs-0 col-sm-0 col-md-2"></div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="api_box_bg">
          <div class="row">
            <div class="col-md-4">
              <div class="api_big_icon">
                <img src="/assets/developer/gateway.svg">
              </div>
            </div>
            <div class="col-md-8">
              <div class="api_big_text">
                <h3>Gateway APIs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="api_name_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="api_name_icon">
                  <img src="/assets/developer/api-full-ref.svg">
                </div>
              </div>
              <div class="col-md-8">
                <div class="api_name_text">
                  <h3>Full API Reference</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                </div>
              </div>
            </div>
          </div>
          <div class="api_name_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="api_name_icon">
                  <img src="/assets/developer/api-statistics.svg">
                </div>
              </div>
              <div class="col-md-8">
                <div class="api_name_text">
                  <h3>API Stats</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                </div>
              </div>
            </div>
          </div>
          <div class="api_name_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="api_name_icon">
                  <img src="/assets/developer/api-open.svg">
                </div>
              </div>
              <div class="col-md-8">
                <div class="api_name_text">
                  <h3>Open Source</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2"></div>
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="api_name_sec">
              <div class="row">
                <div class="col-md-4">
                  <div class="api_name_icon">
                    <img src="/assets/developer/api-full-ref.svg">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="api_name_text">
                    <h3>Full API Reference</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                  </div>
                </div>
              </div>
          </div>
          <div class="api_name_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="api_name_icon">
                  <img src="/assets/developer/api-statistics.svg">
                </div>
              </div>
              <div class="col-md-8">
                <div class="api_name_text">
                  <h3>API Stats</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                </div>
              </div>
            </div>
          </div>
          <div class="api_name_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="api_name_icon">
                  <img src="/assets/developer/api-open.svg">
                </div>
              </div>
              <div class="col-md-8">
                <div class="api_name_text">
                  <h3>Open Source</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section id="how_it_work_sec">
  <div class="container_e">
    <div class="row">
        <div class="col-md-12">
          <div class="how_it_work_heading">
            <h3>How It Works</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
    </div>
    <div class="how_it_work_custom_cri">
      <div class="how_it_work_custom_text_box box_first">
        <h3>Sign Up Today</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
      </div>

      <div class="how_it_work_custom_text_box box_scend">
        <h3>Sign Up Today</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
      </div>

      <div class="how_it_work_custom_text_box box_first">
        <h3>Sign Up Today</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
      </div>
      
    </div>
    
  </div>
</section>

<section id="get_start_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-md-12">
        <div class="get_start_heading">
          <h3>Get Started Today!</h3>
          <button>Contact Us</button>
          <button>Documentation</button>
        </div>
        
      </div>
    </div>
  </div>
</section>

















<footer id="footer_sec">
  <div class="container_e">
    <div class="row">
      <div class="col m3">
        <div class="footer_heading">
          <h5>Follow Us</h5>
        </div>
        <div class="social_link_f">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/developer/fb.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/developer/twitter-logo-button.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/developer/linkedin-button.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="add_link">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/developer/location-pointer.svg">
                  United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/developer/translation.svg">
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m3">
        <div class="footer_heading">
          <h5>Company</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Resources</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Partner Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Products</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Online Payments</a>
            </li>
            <li>
              <a href="#">POS System</a>
            </li>
            <li>
              <a href="#">Card Machines</a>
            </li>
            <li>
              <a href="#">Email Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Banking <span>Beta</span></h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Fintech Banking</a>
            </li>
            <li>
              <a href="#">E-Wallets</a>
            </li>
            <li>
              <a href="#">Payment Card Programs</a>
            </li>
            <li>
              <a href="#">Digital</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_line_gray"></div>

    <div class="copy_right_footer">
      <ul>
        <li>World Payments Ltd. 2019. All rights reserved.</li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">
              Contact
          </a>
        </li>
        
      </ul>
    </div>

  </div>
</footer>

</body>
</html> 