<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Blog</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/blog' %>  

</head>
<body>

<header id="main_header">
  <div class="container_e">
    <div class="nav_bar_e">
      <div class="log_main">
        <h1>
          <a href="#">
            <img src="/assets/blog/main-logo.svg">
          </a>
        </h1>
      </div>
      <div class="nav_link_list">
        <ul>
          <li>
            <a href="#">Products <img src="/assets/blog/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Developers <img src="/assets/blog/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Company <img src="/assets/blog/drop-arrow.svg"></a>
          </li>
          <li>
            <a href="#">Pricing </a>
          </li>
        </ul>
      </div>
      <div class="nav_login">
        <ul>
          <li>
            <a href="#">
              <span>
                <img src="/assets/blog/user-icon.svg">
              </span>
              Login
            </a>
          </li>
          <li>
            <a class="signupbtn" href="#">Sing Up >
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clear_e"></div>
    </div>
  </div>
</header>

<section id="blog_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog_heading">
          <h3>Blog</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<footer id="footer_sec">
  <div class="container_e">
    <div class="row">
      <div class="col m3">
        <div class="footer_heading">
          <h5>Follow Us</h5>
        </div>
        <div class="social_link_f">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/blog/fb.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/blog/twitter-logo-button.svg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/blog/linkedin-button.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="add_link">
          <ul>
            <li>
              <a href="#">
                <img src="/assets/blog/location-pointer.svg">
                  United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/assets/blog/translation.svg">
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m3">
        <div class="footer_heading">
          <h5>Company</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Resources</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Partner Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Products</h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Online Payments</a>
            </li>
            <li>
              <a href="#">POS System</a>
            </li>
            <li>
              <a href="#">Card Machines</a>
            </li>
            <li>
              <a href="#">Email Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m2">
        <div class="footer_heading">
          <h5>Banking <span>Beta</span></h5>
        </div>
        <div class="footer_link">
          <ul>
            <li>
              <a href="#">Fintech Banking</a>
            </li>
            <li>
              <a href="#">E-Wallets</a>
            </li>
            <li>
              <a href="#">Payment Card Programs</a>
            </li>
            <li>
              <a href="#">Digital</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_line_gray"></div>

    <div class="copy_right_footer">
      <ul>
        <li>World Payments Ltd. 2019. All rights reserved.</li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">
              Contact
          </a>
        </li>
        
      </ul>
    </div>

  </div>
</footer>

</body>
<script src="assets/materialize.min.js"></script>
</html> 