li { list-style: none;
}
h1,h2,h3,h4,h5,h6{font-weight: normal}
input:focus,textarea:focus{outline:none!important}
.test{float:left;width:100%}
.full-ht{height:100%}
.full-wd{width:100%}
.container{width:90%;max-width:1600px;margin:0 auto;}
.small-container{width:100%;max-width:810px;margin:0 auto;min-width:320px!important}
.opacity5-child a {opacity: .5;z-index: 9!important;}
.fw-100{font-weight: 100}
.fw-200{font-weight: 200}
.fw-300{font-weight: 300}
.fw-400{font-weight: 400!important}
.fw-500{font-weight: 500}
.fw-700{font-weight: 700}
.fw-1000{font-weight: 1000}
/*fonts size*/
.fs-8{font-size:8px!important}
.fs-9{font-size:9px!important}
.fs-10{font-size:10px!important}
.fs-11{font-size:11px!important}
.fs-12{font-size:12px!important}
.fs-13{font-size:13px!important}
.fs-14{font-size:14px!important}
.fs-15{font-size:15px!important}
.fs-16{font-size:16px!important}
.fs-17{font-size:17px!important}
.fs-18{font-size:18px!important}
.fs-19{font-size:19px!important}
.fs-20{font-size:20px!important}
.fs-21{font-size:21px!important}
.fs-22{font-size:22px!important}
.fs-23{font-size:23px!important}
.fs-24{font-size:24px!important}
.fs-25{font-size:25px!important}
.fs-26{font-size:26px!important}
.fs-27{font-size:27px!important}
.fs-28{font-size:28px!important}
.fs-29{font-size:29px!important}
.fs-30{font-size:30px!important}
.fs-35{font-size:35px!important}
.fs-36{font-size:36px!important}
.fs-40{font-size:40px!important}
.fs-45{font-size:45px!important}
.fs-50{font-size:50px!important}
.fs-60{font-size:60px!important}

/*line-height*/
.lh-8{line-height:8px!important}
.lh-9{line-height:9px!important}
.lh-10{line-height:10px!important}
.lh-11{line-height:11px!important}
.lh-12{line-height:12px!important}
.lh-13{line-height:13px!important}
.lh-14{line-height:14px!important}
.lh-15{line-height:15px!important}
.lh-16{line-height:16px!important}
.lh-17{line-height:17px!important}
.lh-18{line-height:18px!important}
.lh-19{line-height:19px!important}
.lh-20{line-height:20px!important}
.lh-21{line-height:21px!important}
.lh-22{line-height:22px!important}
.lh-23{line-height:23px!important}
.lh-24{line-height:24px!important}
.lh-25{line-height:25px!important}
.lh-26{line-height:26px!important}
.lh-27{line-height:27px!important}
.lh-28{line-height:28px!important}
.lh-29{line-height:29px!important}
.lh-30{line-height:30px!important}
.lh-35{line-height:35px!important}
.lh-40{line-height:40px!important}
.lh-45{line-height:45px!important}
.lh-50{line-height:50px!important}
.lh-60{line-height:60px!important}
.lh-32{line-height:32px!important}
.lh-33{line-height:33px!important}
.lh-38{line-height:38px!important}
.lh-34{line-height:34px !important}

/*font weight*/
.bold{font-weight:bold!important}
.normal{font-weight:normal!important}

/*margin*/
.no-gap{margin:0!important}
.half-gapped{margin:5px!important}
.gap-top-50{margin-top:50px!important}
.gap-right-7{margin-right:7px !important}
.gap-right-12{margin-right:12px !important}
.gap-one-half{margin:15px !important}
.gap-one-half-top{margin-top:15px !important}
.gap-one-half-bottom{margin-bottom:15px !important}
.gap-one-half-left{margin-left:15px !important}
.gap-one-half-right{margin-right:15px !important}
.gapped{margin:10px!important}
.double-gapped{margin:20px!important}
.triple-gapped{margin:30px!important}
.half-gap-top{margin-top:5px!important}
.gap-top{margin-top:10px!important}
.double-gap-top{margin-top:20px!important}
.triple-gap-top{margin-top:30px!important}
.half-gap-bottom{margin-bottom:5px!important}
.gap-bottom{margin-bottom:10px!important}
.double-gap-bottom{margin-bottom:20px!important}
.triple-gap-bottom{margin-bottom:30px!important}
.half-gap-left{margin-left:5px!important}
.gap-left{margin-left:10px!important}
.double-gap-left{margin-left:20px!important}
.triple-gap-left{margin-left:30px!important}
.half-gap-right{margin-right:5px!important}
.gap-right{margin-right:10px!important}
.double-gap-right{margin-right:20px!important}
.triple-gap-right{margin-right:30px!important}
.gap-top-bottom-12{margin:12px 0}
.gap-110{margin:110px auto 0}

/*padding*/
.no-pad{padding:0 !important}
.pad-bottom-0{padding-bottom:0 !important}
.pad-one-half{padding:15px !important}
.pad-one-half-top{padding-top:15px!important}
.pad-one-half-bottom{padding-bottom:15px!important}
.pad-one-half-left{padding-left:15px !important}
.pad-one-half-right{padding-right:15px !important}
.half-padded{padding:5px!important}
.padded{padding:10px!important}
.double-padded{padding:20px!important}
.triple-padded{padding:30px!important}
.half-pad-top{padding-top:5px!important}
.pad-top{padding-top:10px!important}
.double-pad-top{padding-top:20px!important}
.triple-pad-top{padding-top:30px!important}
.half-pad-bottom{padding-bottom:5px!important}
.pad-bottom{padding-bottom:10px!important}
.double-pad-bottom{padding-bottom:20px!important}
.triple-pad-bottom{padding-bottom:30px!important}
.half-pad-left{padding-left:5px!important}
.pad-left{padding-left:10px!important}
.double-pad-left{padding-left:20px!important}
.triple-pad-left{padding-left:30px!important}
.half-pad-right{padding-right:5px!important}
.pad-right{padding-right:10px!important}
.double-pad-right{padding-right:20px!important}
.triple-pad-right{padding-right:30px!important}
.pad-left60{padding-left:60px !important}
.pad-right60{padding-right:60px !important}
.one-half-gapped{margin:15px!important}
.one-half-gap-top{margin-top:15px!important}
.one-half-gap-bottom{margin-bottom:15px!important}
.one-half-gap-left{margin-left:15px!important}
.one-half-gap-right{margin-right:15px!important}
.one-half-padded{padding:15px!important}
.one-half-pad-top{padding-top:15px!important}
.one-half-pad-bottom{padding-bottom:15px!important}
.one-half-pad-left{padding-left:15px!important}
.one-half-pad-right{padding-right:15px!important}

/*border gray*/
.color-gray{color:#e5e5e5!important}
.bg-gray{background-color:#e5e5e5!important}
.border-gray{border:1px solid #e5e5e5 !important}
.border-left-gray{border-left:1px solid #e5e5e5!important}
.border-right-gray{border-right:1px solid #e5e5e5!important}
.border-top-gray{border-top:1px solid #e5e5e5!important}
.border-bottom-gray{border-bottom:1px solid #e5e5e5!important}

/*border gray2*/
.color-gray2{color:#8d8d8d!important}
.bg-gray2{background-color:#8d8d8d!important}
.border-gray2{border:1px solid #8d8d8d !important}
.border-left-gray2{border-left:1px solid #8d8d8d!important}
.border-right-gray2{border-right:1px solid #8d8d8d!important}
.border-top-gray2{border-top:1px solid #8d8d8d!important}
.border-bottom-gray2{border-bottom:1px solid #8d8d8d!important}

/*border gray3*/
.color-gray3{color:#686868!important}
.bg-gray3{background-color:#686868!important}
.border-gray3{border:1px solid #686868 !important}
.border-left-gray3{border-left:1px solid #686868!important}
.border-right-gray3{border-right:1px solid #686868!important}
.border-top-gray3{border-top:1px solid #686868!important}
.border-bottom-gray3{border-bottom:1px solid #686868!important}

 

/*border purple*/
.color-purple{color:#F905F5!important}
.bg-purple{background-color:#F905F5!important}
.border-purple{border:1px solid #F905F5 !important}
.border-left-purple{border-left:1px solid #F905F5!important}
.border-right-purple{border-right:1px solid #F905F5!important}
.border-top-purple{border-top:1px solid #F905F5!important}
.border-bottom-purple{border-bottom:1px solid #F905F5!important}



/*border white*/
.color-white{color:#ffffff!important}
.bg-white{background-color:#ffffff!important}
.border-white{border:1px solid #ffffff !important}
.border-left-white{border-left:1px solid #ffffff!important}
.border-right-white{border-right:1px solid #ffffff!important}
.border-top-white{border-top:1px solid #ffffff!important}
.border-bottom-white{border-bottom:1px solid #ffffff!important}


/*border black*/
.color-black{color:#000000!important}
.bg-black{background-color:#000000!important}
.border-black{border:1px solid #000000 !important}
.border-left-black{border-left:1px solid #000000!important}
.border-right-black{border-right:1px solid #000000!important}
.border-top-black{border-top:1px solid #000000!important}
.border-bottom-black{border-bottom:1px solid #000000!important}


/*border brown*/
.color-brown{color:#6c543d!important}
.bg-brown{background-color:#6c543d!important}
.border-brown{border:1px solid #6c543d !important}
.border-left-brown{border-left:1px solid #6c543d!important}
.border-right-brown{border-right:1px solid #6c543d!important}
.border-top-brown{border-top:1px solid #6c543d!important}
.border-bottom-brown{border-bottom:1px solid #6c543d!important}



/*border red*/
.color-red{color:#e82f2c!important}
.bg-red{background-color:#e82f2c!important}
.border-red{border:1px solid #e82f2c !important}
.border-left-red{border-left:1px solid #e82f2c!important}
.border-right-red{border-right:1px solid #e82f2c!important}
.border-top-red{border-top:1px solid #e82f2c!important}
.border-bottom-red{border-bottom:1px solid #e82f2c!important}




/*border pink*/
.color-pink{color:#fd2e62!important}
.bg-pink{background-color:#fd2e62!important}
.border-pink{border:1px solid #fd2e62 !important}
.border-left-pink{border-left:1px solid #fd2e62!important}
.border-right-pink{border-right:1px solid #fd2e62!important}
.border-top-pink{border-top:1px solid #fd2e62!important}
.border-bottom-pink{border-bottom:1px solid #fd2e62!important}



/*border orange*/
.color-orange{color:#ff9000!important}
.bg-orange{background-color:#ff9000!important}
.border-orange{border:1px solid #ff9000 !important}
.border-left-orange{border-left:1px solid #ff9000!important}
.border-right-orange{border-right:1px solid #ff9000!important}
.border-top-orange{border-top:1px solid #ff9000!important}
.border-bottom-orange{border-bottom:1px solid #ff9000!important}

/*border yellow*/
.color-yellow{color:#eccd00!important}
.bg-yellow{background-color:#eccd00!important}
.border-yellow{border:1px solid #eccd00 !important}
.border-left-yellow{border-left:1px solid #eccd00!important}
.border-right-yellow{border-right:1px solid #eccd00!important}
.border-top-yellow{border-top:1px solid #eccd00!important}
.border-bottom-yellow{border-bottom:1px solid #eccd00!important}

/*border blue*/
.color-blue{color:#00a3e7!important}
.bg-blue{background-color:#00a3e7!important}
.border-blue{border:1px solid #00a3e7 !important}
.border-left-blue{border-left:1px solid #00a3e7!important}
.border-right-blue{border-right:1px solid #00a3e7!important}
.border-top-blue{border-top:1px solid #00a3e7!important}
.border-bottom-blue{border-bottom:1px solid #00a3e7!important}

/*border blue2*/
.color-blue2{color:#e5f6fd!important}
.bg-blue2{background-color:#e5f6fd!important}
.border-blue2{border:1px solid #e5f6fd !important}
.border-left-blue2{border-left:1px solid #e5f6fd!important}
.border-right-blue2{border-right:1px solid #e5f6fd!important}
.border-top-blue2{border-top:1px solid #e5f6fd!important}
.border-bottom-blue2{border-bottom:1px solid #e5f6fd!important}

 

/*border green*/
.color-green{color:#8fb741!important}
.bg-green{background-color:#8fb741!important}
.border-green{border:1px solid #8fb741 !important}
.border-left-green{border-left:1px solid #8fb741!important}
.border-right-green{border-right:1px solid #8fb741!important}
.border-top-green{border-top:1px solid #8fb741!important}
.border-bottom-green{border-bottom:1px solid #8fb741!important}

/*border green1*/
.color-green1{color:#8fb741!important}
.bg-green1{background-color:#8fb741!important}
.border-green1{border:1px solid #8fb741 !important}
.border-left-green1{border-left:1px solid #8fb741!important}
.border-right-green1{border-right:1px solid #8fb741!important}
.border-top-green1{border-top:1px solid #8fb741!important}
.border-bottom-green1{border-bottom:1px solid #8fb741!important}


/*border green2*/
.color-green2{color:#006400!important}
.bg-green2{background-color:#006400!important}
.border-green2{border:1px solid #006400 !important}
.border-left-green2{border-left:1px solid #006400!important}
.border-right-green2{border-right:1px solid #006400!important}
.border-top-green2{border-top:1px solid #006400!important}
.border-bottom-green2{border-bottom:1px solid #006400!important}


/*border green3*/
.color-green3{color:#4fa641!important}
.bg-green3{background-color:#4fa641!important}
.border-green3{border:1px solid #4fa641 !important}
.border-left-green3{border-left:1px solid #4fa641!important}
.border-right-green3{border-right:1px solid #4fa641!important}
.border-top-green3{border-top:1px solid #4fa641!important}
.border-bottom-green3{border-bottom:1px solid #4fa641!important}





/*General*/
body img{max-width:100%}
.pull-left{float:left!important}
.pull-right{float:right!important}
.pull-none{float:none!important}
.display-inline-block{display:inline-block!important}
.radius2{overflow:hidden;border-radius:2px!important}
.radius3{overflow:hidden;border-radius:3px!important}
.radius5{overflow:hidden;border-radius:5px!important}
.radius10{overflow:hidden;border-radius:10px!important}
/*.hidden{overflow:hidden!important}*/
.pointer{cursor:pointer!important}
.no-resize{resize:none!important}
.shadow{box-shadow: 0px 1px 2px 1px #e8e8e8e8}
.shadow1{box-shadow:2px 2px 5px #808080}
.shadow2{box-shadow:-1px 0 6px 2px rgba(8, 22, 37, 0.1)}
.shadow3{box-shadow:-3px -3px 3px 0 rgba(8, 22, 37, 0.1)}
.shadow4{box-shadow:0px 0px 5px #808080}
.shadow5{box-shadow:0px 1px 2px 1px #ddd}
.shadow6{box-shadow:2px 2px 3px 0 silver}
body i{font-style:normal}

/*position*/
.absolute{position:absolute!important}
.relative{position:relative!important}
.fixed{position:fixed!important}
.top{top:0!important}
.bottom{bottom:0!important}
.left{left:0!important}
.right{right:0!important}

/*font style*/
.italic{font-style:italic!important}

/*z-indexes*/
.z-index9{z-index:9!important}
.z-index99{z-index:99!important}
.z-index999{z-index:999!important}
.z-index9999{z-index:9999!important}

/*alignment*/
.justify{text-align:justify!important}
.align-left{text-align:left!important}
.align-center{text-align:center!important}
.align-right{text-align:right!important}

/*none classes*/
.no-radius{border-radius:none!important}
.no-bg{background:none!important}
.no-gapped{margin:0!important}
.no-gap-top{margin-top:0!important}
.no-gap-bottom{margin-bottom:0!important}
.no-gap-left{margin-left:0!important}
.no-gap-right{margin-right:0!important}
.no-border, .no-border:before, .no-border:after{border:none!important}
.no-border-top{border-top:none!important}
.no-border-bottom{border-bottom:none!important}
.no-border-left{border-left:none!important}
.no-border-right{border-right:none!important}
.no-padded{padding:0!important}
.no-pad-top{padding-top:0!important}
.no-pad-bottom{padding-bottom:0!important}
.no-pad-left{padding-left:0!important}
.no-pad-right{padding-right:0!important}

/*General*/
.opacity2{opacity:.2}
.opacity5{opacity:.5}


/*division*/
.width-auto{width:auto!important}

.full{width:100%;float:left}
.half{width:50%;float:left}
.one-third{width:33.33%;float:left}
.two-third{float:left;width:66.66%}
.one-fourth{width:25%;float:left}
.three-fourth{width:75%;float:left}
.one-fifth{width:20%;float:left}
.two-fifth{width:40%;float:left}
.three-fifth{width:60%;float:left}
.four-fifth{width:80%;float:left}
.one-sisxth{width:16.66%;float:left}
.two-sisxth{width:33.32%;float:left}
.five-sisxth{width:83.33%;float:left}
.one-seventh{width:14.28%;float:left}
.two-seventh{width:28.56%;float:left}
.six-seventh{width:85.68%;float:left}
.one-eighth{width:12.50%;float:left}
.two-eighth{width:25%;float:left}
.seven-eighth{width:87.50%;float:left}
.one-ninth{width:11.11%;float:left}
.two-ninth{width:22.22%;float:left}
.eight-ninth{width:88.88%;float:left}
.one-tenth{width:10%;float:left}
.two-tenth{width:20%;float:left}
.nine-tenth{width:90%;float:left}



.opacity1{opacity: 1!important}

.hide{display:none!important;}
.show{display:block!important;}

.txt-inh{text-transform: inherit!important;}
.no-border{border:none!important}


.body-color{color:#646464}
.mx-150{max-width:150px!important}
.mx-300{max-width:300px!important} 
.display-table{display: table;width: 100%;height: 100%;}
.display-cell{display: table-cell;height: 100%;vertical-align: middle}
.full {
    width: 100%;
    float: left;
}
.table-text-center th,
.table-text-center td{text-align: center} 
.lastColbold td:last-child{font-weight:500}


/*Umaar Framwork*/
.color-blackblue{color:#185B6D!important}

.btn-s-purple,.btn-xs-purple, .btn-md-purple{
  background-color: #F905F5;
  color: white ;
  border-radius:50px;
  max-height: 50px; 
}
.btn-xs-purple{
  padding: 5px 10px;
}
.btn-md-purple{
  padding: 15px 25px;
}
.eighty-gap-top {
    margin-top: 80px !important;
}
.sixty-gap-top {
    margin-top: 60px !important;
}
.sixty-pad-bottom {
    padding-bottom: 60px !important;
}





