a {
  color: white;
}
body{
  font-family: "ProximaRegular";
  font-weight: 800;
}
h2{
    font-family: "proximabold";
    font-size: 45px;
    line-height: 1.5;
}
h4{
  line-height: 1.5;
}
h5{
  line-height: 1.8;
}
p{
  color: #606060;
  text-align: center;
}
.container-heading h2{
  text-align: center;
}
/*Header Nav Css*/

/*.main-container, .container-nav{
  max-width: 1160px;
  margin: 0 auto;
  padding: 30px 20px;
  width: 100%;
}*/

.container{
  position: relative;
  padding: 30px 20px;

}
#intro span{
  color: white;
  border-radius: 25px;
  padding: 12px 20px;
  background: rgba(0,0,140,.08);
  /*box-shadow: 0 0 2px #fff;*/
}
.nav-item {
    font-family: "ProximaSBold";
    padding: 0px 6px;
    font-size: 18px;
}
.nav .nav-item:nth-last-child(1) a{
  margin-top: 5px;
  padding: 3px 16px;
}
.navbar{
  padding: 1rem 1rem !important;
  z-index: 9999;
}

/*
.globalNav{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 500;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  background-color: transparent;
}*/



/*Bannner below Navbar Header*/
/*header{
  position: relative;
}*/
/*section {
  padding-top: 12%;
}*/
.banner{
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  /*background: linear-gradient(#f905f5 0%, #17c9f2 100%);*/
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;  
}
.banner span:nth-child(1) {
    height: 60%;
    width: 35%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ce81f6;
    border-bottom-left-radius: 1192px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 65px;
}

.bg-transparent{
  background-color: transparent;
}
.cls-4{
  fill: #00a1e0 !important;
}
.slack{
  width: 140px;
  height: 140px;
  padding: 22px;
  -moz-animation:spin 4s linear infinite;
  -webkit-animation:spin 4s linear infinite;
  animation:spin 10s linear infinite;
}

.shopify{
  padding:22px 30px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*Service container*/
.service-box{
    box-shadow: 0 0 8px #ccc;
    padding:5% 10%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 35px 35px 85px rgba(0, 0, 0, 0.1);
   /*background: rgba(0,0,140,.08);*/
}
.service-box img{
  display: block;
  height: 80px;
  width: 80px;
  margin: auto;
}
.service-box h4{
  text-align: center;
}
.plus-img{
    right: 0;
    position: absolute;
    height: 80px;
}
.hr-below-heading{
    border: 0;
    border-top: 11px solid #185B6D;
    margin: 2% 45% !important;
    border-radius: 50px;
}
.learn-more{
  height: 45px;
  width: 125px;
  color: #199BBC;
  background-color: #FAFAFA;
  border-radius: 10px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.learn-more span{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Devloper Section*/
.developer-section{
  background-color: #FBFBFB;
  padding-top: 3%;
}
.right-devloper-colmn{
  margin:12%;
}
.right-devloper-colmn p{
  text-align: center;
}
.developer-container h2{
      padding-bottom: 3%;
}
.large-white-btn{
  padding: 15px;
  background-color: white;
  color: #185B6D;
  font-weight: normal;
  -webkit-box-shadow: 0 0 10px #707070;
  box-shadow: 0 0 10px #707070;
  margin-left: 3%;

}
/*play well section*/
.integration-div{
    width: 1385.05px;
    height: 526.48px;
    background: linear-gradient(#17c9f2 0%, #f905f5 100%);
    left: -80px;
    top: 150px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
}
.integration-div .row {
  padding: 20% 5%;
}
.analytics-box{
  transform: translate(0%, -25%);
}
.integration-div-right{
  padding: 27% 2% 15% 2%;
}
.integration-div-right p{
  text-align: left;
}

/*let work together*/
.text{
    height: 50px;
    width: 60%;
}
#basic-addon2{
  background-color: #F905F5;
}
.work-together-section{
  margin-top: 8%;
  padding: 8% 0%;
  background-color: #FBFBFB
}
@media screen and (max-width: 1024px) {
    .nav-item {
      padding: 0px 0px;
      font-size: 0.9em;

    }
    .banner span:nth-child(1){
      height: 322px;
    }
    .banner{
      height:  48% !important;
    }

}
@media screen and (min-width: 1025px) {
  #intro .mobile-svg {
    max-width: initial !important;
    width: 700px;
    margin-top: -75px;
  }
}
@media screen and (max-width: 767px) {
  .banner span:nth-child(1){
    display: none;
  }

}
