@media screen and (max-width: 678px) {
   .manage_section .managing_area .manage_image_inner .animations {
      display: none;
   }
}

@media screen and (max-width: 1200px) {
   .round {
      display: none;
   }
}
@media screen and (max-width: 992px) {
    .manage_section .managing_area .manage_image_inner .image_item .image1 img{
    	width: 100%;
    	height: auto;
	}
}
@media screen and (max-width: 992px) {
    .manage_section .managing_area .manage_image_inner .image_item .image2 img{
    	display: none;
	}
}
@media screen and (max-width: 576px) {
    .banner .banner_area .banner_fontpage_image img{
    	display: none;
	}
}
@media screen and (max-width: 576px) {
   .banner .banner_area .banner_content .banner_inner .banner_main .banner_body h2 {
	    font-weight: 700;
	    font-size: 24px;
	    padding: 50px;
	    line-height: 41px;
	    font-family: 'Poppins', sans-serif;
	}
}
@media screen and (max-width: 420px) {
    .experience .experience_section_area .exp_inner_Section .exp_item .exp_icon {
   		margin: auto;
	}
}

@media screen and (max-width: 420px) {
    .experience .experience_section_area .exp_inner_Section .exp_item {
	    margin-bottom: 61px;
	    text-align: center;
	    align-items: center;
	}
}
@media screen and (max-width: 420px) {
    .experience .experience_section_area .exp_inner_Section .exp_item .exp_content {
	    margin: auto;
	   	padding-top: 20px;
	}
}
@media screen and (max-width: 557px) {
    .manage_section .managing_area .manage_content h2 {
	    font-family: 'Poppins', sans-serif;
	    font-weight: 700;
	    padding-bottom: 12px;
	    font-size: 19px;
	}
}

@media screen and (max-width: 992px) {
    .experience .experience_section_area .exp_inner_Section .exp_item {
	    justify-content: center;
	}
}
@media screen and (max-width: 992px) {
    .banner .banner_area .banner_content .banner_inner .banner_title h4 {
    color: #fff;
    font-size: 22px;
    padding-bottom: 65px;
    font-family: 'Poppins', sans-serif;
}
}
@media screen and (max-width: 786px) {
    .banner .banner_area .banner_content .banner_inner .banner_title h4 {
	    padding-bottom: 39px;

	}
}

@media screen and (max-width: 992px) {
    .manage_section .managing_area .manage_content {
    	padding: 50px;
	}
}
