<div class="f_pos_system_nav">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="logo_sec">
        <a href="/">
          <img src="/assets/home/w-main-logo.svg">
        </a>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-9">
      <div class="nav_link">
        <ul>
          <li>
            <a href="javascript:;">Products <img src="/assets/home/drop-arrow-w.svg"></a>
            <ul>
              <li>
                <a href="/online_payments">
                  <div class="sub_menu_list">
                      <div class="sub_menu_icon">
                        <img src="/assets/menu/online_payments.svg">
                      </div>
                      <div class="sub_menu_text">
                        <h3>Online Payment</h3>
                        <p>Learn more about payment</p>
                      </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/telephone_payments">
                  <div class="sub_menu_list">
                      <div class="sub_menu_icon">
                        <img src="/assets/menu/telephone_payments.svg">
                      </div>
                      <div class="sub_menu_text">
                        <h3>Telephone Payment</h3>
                        <p>Learn about Telephone payment</p>
                      </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/card_machine">
                  <div class="sub_menu_list">
                      <div class="sub_menu_icon">
                        <img src="/assets/menu/card_machine.svg">
                      </div>
                      <div class="sub_menu_text">
                        <h3>Card Machine</h3>
                        <p>Card Machines.</p>
                      </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/pos">
                  <div class="sub_menu_list">
                      <div class="sub_menu_icon">
                        <img src="/assets/menu/pos.svg">
                      </div>
                      <div class="sub_menu_text">
                        <h3>Pos System</h3>
                        <p>Checkout our Pos System.</p>
                      </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/developers">Developers</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/pricing">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="nav_btn">
        <ul>
          <li>
            <a class="nav_login open_login" href="javascript:;">
              <img src="/assets/home/nav-login.svg">
              Login
            </a>
          </li>
          <li>
            <a href="/contact" class="start_button">Get Started ></a>
          </li>
        </ul>
      </div>
      <a href="/contact" class="button">Log in>
        <img src="/assets/home/icons8-menu-filled.svg">
      </a>
    </div>
  </div>
</div>
